.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shopping-list-container {
  width: 60%;
}

.shopping-list-item .counter {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.shopping-list-item {
  padding: 10px;
  width: 100%;
  background-color: #fff;
  color: #333;
  margin-bottom: 10px;
  border-radius: 3px;
}

.shopping-list-item.checked {
  background: #cecece;
}

.shopping-list-item.checked .title {
  text-decoration: line-through;
}

.add-item-btn {
  height: 38px;
}

.align-vertical {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons button {
  white-space: nowrap;
}